*.exe
*.pdb
*.ilk
*.obj
*.rdi
*.zip
*.bin
*.dll
*.ilk
*.exp
*.lib
*.html
*.wasm
*-export

*.blend
*.blend1
*.dot

!data/default.rscn
!data/default.rscn.bin

!shader_compiler/slang/slang.lib
!shader_compiler/slang/slang-compiler.lib
!slang.dll
!slang-compiler.dll

ols.json
odinfmt.json
.vscode