*.exe
*.pdb
*.ilk
*.obj
*.rdi
*.zip
*.bin
*.dll
*.so
*.ilk
*.exp
*.lib
*.html
*.wasm
*-export
*.out

*.blend
*.blend1
*.dot

!data/default.rscn
!data/default.rscn.bin

ols.json
odinfmt.json
.vscode